<%=render :partial=>"layouts/banner"%>
<div class="wrap body">
	<div class="west">
		<div class="imgtit"><img src="/assets/pro_tit.png"></div>
		<%=render :partial=>"leftmenu"%>
	</div>
	<div class="mGrid">
		<div class="pROpath">当前位置：
			<%if @isTopL == "1"%>
			产品搜索
			<%else%>
			<a target="_self" href="/">首页</a>&gt;<a href="/product/index">产品浏览</a>
			><a data-remote="true" href="/product/index?kind=<%=@prodKind.id%>"><%=@prodKind.name%></a>
			<%end%>
		</div>
		<%= render :partial=>"/product_type/list"%>
			
		<div class="clear"></div>
		<div class="brandbotline"></div>
		<div class="breakpage">
			<table align="center">
				<tbody>
					<tr><td><div class="pages" id="pag"></div></td></tr>
				</tbody>
			</table>
		</div>
		<div class="clear"></div>
	</div>
	<div class="rGrid">
		<p class="pd6"><img src="/assets/k-sea.png"></p>
		<%=render :partial=>"plugins/quick_search"%>
		<p class="pd6"><img src="/assets/xinpin.png"></p>
		<p class="yuebtn pd6"><a href="/Plus/Search/Search.asp?ChannelID=1&amp;Mon=10&amp;Yea=2013">10月新品</a></p>
		<p class="yuebtn pd6"><a href="/Plus/Search/Search.asp?ChannelID=1&amp;Mon=11&amp;Yea=2013">11月新品</a></p>
		<p class="yuebtn"><a href="/Plus/Search/Search.asp?ChannelID=1&amp;Mon=12&amp;Yea=2013">12月新品</a></p>
		<!--
		<p style="padding:42px 0 18px 0;"><img src="/assets/pinpai.png"></p>
		<p style="padding-bottom:18px;"><img src="/assets/guowai.png"></p>
	-->
	</div>
</div>
<div id="hiddenDiv"style="display:none"></div>
<input id="urlNextPage" style="display:none" value="
<%if @isTopL == "1" %>
<%="/product/pagination"%>	
<%else%>
<%="/product_kind/products?kind=#{@kind_type}"%>	
<%end%>
"/>
