<!DOCTYPE html>
<html>
<head>
	<meta name="baidu-tc-cerfication" content="6b110ab6fd04a36f6c81a8b70a3bf96d" />
	<title>RockNet</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="headfix">
		<div class="webhead">

			<div class="hd_wrap">
				<div class="hd_n">
					<div class="logo"><a href="/">rock</a></div>
					<div class="nav">
						<div class="t_lan_search">
							<div class="t_lan">
								<ul>
									<li class="lan_txt"></li>
									<li class="lan_en"><a href="/en/">english</a></li>
									<li class="lan_ch"><a href="/">Simplified Chinese</a></li>
								</ul>
							</div>
							<div class="t_search">
								<div class="int_l"><div><input type="text" onfocus="if(this.value=='搜索产品')value='';" onblur="if(this.value=='')value='搜索产品';" onkeydown="if (event.keyCode==13) {}" autocomplete="off" value="搜索产品" maxlength="15" id="KeyWords" name="KeyWords" class="sea_input"></div></div>
								<div id="query_pro" class="sub_btn"></div>
							</div>
						</div>
						<div class="clear"></div>
						<div class="nav_m">
							<ul id="navMenu">
								<li class="first"><a id="rocknav0" rel="dropmenu1" href="/Html/Page/AboutUs.html">品牌简介</a></li>
								<li><a id="rocknav1" rel="dropmenu2" href="/Article/">品牌资讯</a></li>
								<li><a id="rocknav2" rel="dropmenu3" href="/Html/Rock/Samsung_zone.html">品牌联盟</a></li>
								<li><a id="rocknav3" rel="dropmenu4" href="/Product/">产品浏览</a></li>
								<li><a id="rocknav4" href="/Html/Rock/sale.html">销售网络</a></li>
								<li><a id="rocknav5" href="/Video/">影音专区</a></li>
								<li><a id="rocknav6" href="/Html/Rock/fangwei.html">防伪查询</a></li>
								<li class="last"><a id="rocknav7" href="/Html/Rock/contact.html">联系我们</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<ul class="dropMenu" id="dropmenu1">
   
				<li><a href="/aboutUs/index" data-remote="true">关于ROCK</a></li>
   
				<li><a href="/Html/Page/Brand_promotion.html">品牌推广</a></li>
   
				<li class="lastli"></li>
			</ul>
			<ul class="dropMenu" id="dropmenu2">
   
				<li><a href="/Html/Article/n1/List_1.html">最新动态</a></li>
   
				<li><a href="/Html/Article/n2/List_1.html">行业动态</a></li>
     
				<li class="lastli"></li>
			</ul>
			<ul class="dropMenu" id="dropmenu3">
   
				<li><a href="/Html/Rock/Samsung_zone.html">三星专区</a></li>
   
				<li><a href="/Html/Rock/nokia.html">诺基亚专区</a></li>
   
				<li><a href="/Html/Rock/htc.html">HTC专区</a></li>
   
				<li class="lastli"></li>
			</ul>
			<ul class="prodrop" id="dropmenu4" style="top: 89px; left: 751px; clip: rect(0px, auto, 159.374px, 0px); visibility: hidden;">
				<div class="PROM">
					<div class="promenu">
						<li class="first"><a href="/?thread-7-1-0.html">手机保护壳</a></li>
						<li><a href="/?thread-10-1-0.html">手机保护套</a></li>
						<li><a href="/?thread-1-1-0.html">平板保护套</a></li>
						<li><a href="/?thread-13-1-0.html">平板保护壳</a></li>
						<li><a href="/?thread-14-1-0.html">保护膜</a></li>
					</div>
					<div class="propinpai">
						<div class="psort">按手机品牌分类</div>
						<div class="pflei">
							<ul>
								<li class="first"><a href="/Plus/Search/Search.asp?pID=2&amp;bID=0">苹果</a></li>
								<li><a href="/Plus/Search/Search.asp?pID=3&amp;bID=0">三星</a></li>
								<li><a href="/Plus/Search/Search.asp?pID=8&amp;bID=0">索尼</a></li>
								<li><a href="/Plus/Search/Search.asp?pID=5&amp;bID=0">LG</a></li>
							</ul>
							<ul>
								<li class="first"><a href="/Plus/Search/Search.asp?pID=4&amp;bID=0">诺基亚</a></li>
								<li><a href="/Plus/Search/Search.asp?pID=10&amp;bID=0">黑莓</a></li>
								<li><a href="/Plus/Search/Search.asp?pID=11&amp;bID=0">微软</a></li>
								<li><a href="/Plus/Search/Search.asp?pID=0&amp;bID=1">HTC</a></li>
							</ul>
							<ul>
								<li class="first"><a href="/Plus/Search/Search.asp?pID=0&amp;bID=2">华为</a></li>
								<li><a href="/Plus/Search/Search.asp?pID=0&amp;bID=3">联想</a></li>
								<li><a href="/Plus/Search/Search.asp?pID=0&amp;bID=4">魅族</a></li>
								<li><a href="/Plus/Search/Search.asp?pID=0&amp;bID=5">酷派</a></li>
							</ul>
							<ul>
								<li class="first"><a href="/Plus/Search/Search.asp?pID=9&amp;bID=0">摩托罗拉</a></li>
								<li><a href="/Plus/Search/Search.asp?pID=0&amp;bID=6">步步高</a></li>
								<li><a href="/Plus/Search/Search.asp?pID=0&amp;bID=7">小米</a></li>
								<li><a href="/Plus/Search/Search.asp?pID=0&amp;bID=8">OPPO</a></li>
							</ul>
							<ul class="last">
								<li class="first"><a href="/Plus/Search/Search.asp?pID=0&amp;bID=9">中兴</a></li>
							</ul><div class="clear"></div>				   
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</ul>
			<script type="text/javascript">cssdropdown.startchrome("navMenu")</script>	
		</div>
	</div>
	
	<div class="scroll" id="scroll" style="width: 1351px;">
		<div class="scroll_in" id="scrollIn">
			<ul class="scroll_list" id="scrollList" style="margin-left: -1351px;">
				<li class="bn1" style="width: 1351px;"></li>
				<li class="bn2" style="width: 1351px;"></li>
				<li class="bn3" style="width: 1351px;"></li>
			</ul>
				
			<script type="text/javascript">
				var oBannerL=$("#scrollList");
				function fnResize(){
					nBannerSizeL=$("body").innerWidth();				
					$("#scroll,#scrollList li").width(nBannerSizeL);
				}
				fnResize();
			</script>
		</div>
	</div>
	<div class="top_scroll" id="topScroll">
		<div class="top_scroll_in">
			<a hidefocus="true" href="javascript:;" class="left_btn" id="leftBtn"></a>
			<a hidefocus="true" href="javascript:;" class="right_btn" id="rightBtn"></a>
		</div>
	</div>
	
	<!-- JiaThis Button BEGIN -->
	<script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_r.js?uid=1375598809329438&move=0" charset="utf-8"></script>
	<!-- JiaThis Button END -->
	<%= yield %>
	<div class="clear"></div>
	<%=render :partial=>"layouts/foot"%>
</body>
</html>
